@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('https://iosevka-webfonts.github.io/iosevka/woff2/iosevka-regular.woff2') format('woff2'), url('ttf/iosevka-regular.ttf') format('truetype');
}


:root {
    --bgcolor: #121113;
    --bglight: #312F2F;
    --text: #F7F7F2;

    --hover: #413333;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Iosevka Web';
}

body, html {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100vw;
    height: 100vh;
    background-color: var(--bgcolor);
    color: var(--text);
    transition: 0.3s;
}

#net {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 0;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    /* margin-right: 20px; */

    position: relative;
    z-index: 1;
}

.navbar > * {
    margin-inline: 0.5em;
}

.mode_button {
    background-color: var(--bglight);
    border-radius: 8px;
    height: 40px;
    width: 40px;
    color: var(--text);
    font-size: 30px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
    border: none;
    transition: 0.3s;

    position: relative;
    z-index: 2;
}

.mode_button:hover {
    background-color: var(--hover);
}

.button_cursor {
    cursor: pointer;
}

.container {
    /* padding: 20px; */
    background-color: var(--bglight);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 10em;

    position: relative;
    z-index: 1;
}

.themable {
    transition: 0.5s;
}

.invis-a {
    text-decoration: none;
    color: var(--text);
}
